<script>
	$(".button-collapse").sideNav();
</script>
<style>
	
</style>

<header>
	<nav class="top-nav orange">
		<div class="container">
			<a data-activates="nav-mobile" data-sidenav="left" class="button-collapse" data-closeonclick="true"><i class="material-icons" style="cursor: pointer;">menu</i></a>
			<div class="nav-wrapper">
				<a class="page-title">{{ pageTitle }}</a>
				<ul class="right">
					<li><div ng-show="globals.currentUser.loggedIn">{{globals.currentUser.username}}</div></li>
					<li><a ng-hide="globals.currentUser.loggedIn" ng-click="loginModal()">Login</a></li>
					<li><a ng-show="globals.currentUser.loggedIn" ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<ul id="nav-mobile" class="side-nav fixed">
		<li class="logo">
			<img class="responsive-img brand-logo" src="assets/img/logos/home_logo.png" style="max-width: 185px; max-height:200px; padding-left: 35px; padding-top: 20px;">
		</li>
		<li><a ui-sref=".home-view">
			<div class="valign-wrapper">
				<img src="assets/img/icons/home_32.png" style="margin-right:18px;"><div class="valign">Home</div>
			</div>
		</a></li>
		<li><a ui-sref=".calendar">
			<div class="valign-wrapper">
				<img src="assets/img/icons/calendar_32.png" style="margin-right:18px;"><div class="valign">Calendario</div>
			</div>
		</a></li>
		<li ng-show="globals.currentUser.role == 'Allenatore' || globals.currentUser.role == 'Amministratore'"><a ui-sref=".manage-teams">
			<div class="valign-wrapper">
				<img src="assets/img/icons/team_32.png" style="margin-right:18px;"><div class="valign">Gestione Squadre</div>
			</div>
		</a></li>
		<li ng-show="globals.currentUser.role == 'Amministratore'"><a ui-sref=".administration">
			<div class="valign-wrapper">
				<i class="material-icons small left">settings</i><div class="valign">Gestione Utenti</div>
			</div>
		</a></li>
	</ul>
</header>
<main>
	<div class="row" ui-view style="padding: 20px 50px;"></div>
</main>