<div class="modal-header">
	<p style="font-size: 18px">Login</p>
</div>
<form ng-submit="login(login_credentials)">
	<div class="modal-body">
		<div class="row">
			<div class="input-field col s12">
				<input id="username_login" ng-model="login_credentials.username" type="text" required="true">
				<label for="username_login">Nome utente</label>
			</div>
			<div class="input-field col s12">
				<input id="password_login" ng-model="login_credentials.password" type="password" required="true" minlength="8">
				<label for="password_login">Password</label>
			</div>
			<div ng-show="loginError" class="col s12">
				<label data-error="Errore"></label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue btn" type="submit">Login</button>
		<button class="waves-effect waves-blue btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>