
<div class="row">
	<div class="col s12">
		<h2 class="text-center">{{calendarTitle}}</h2>
	</div>
</div>
<div class="row center-align">
	<div class="col s4">
		<button
			class="waves-effect waves-light btn"
			mwl-date-modifier
			date="calendarDate"
			decrement="calendarView">
			Prima
		</button>
	</div>
	<div class="col s4">
		<button
			class="waves-effect waves-light btn orange"
			mwl-date-modifier
			date="calendarDate"
			set-to-today>
			Oggi
		</button>
	</div>
	<div class="col s4">
		<button
			class="waves-effect waves-light btn"
			mwl-date-modifier
			date="calendarDate"
			increment="calendarView">
			Dopo
		</button>
	</div>
</div>
<div class="row">
	<div class="col s12">
		<mwl-calendar
			view="calendarView"
			view-date="calendarDate"
			events="events"
			view-title="calendarTitle"
			on-event-click="eventClicked(calendarEvent)"
			on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
			on-edit-event-click="eventEdited(calendarEvent)"
			on-delete-event-click="eventDeleted(calendarEvent)"
			on-view-change-click="viewChangeClicked(calendarNextView)"
			cell-is-open="true">
		</mwl-calendar>
	</div>
</div>
<div class="fixed-action-btn" ng-show="globals.currentUser.role == 'Allenatore' || globals.currentUser.role == 'Amministratore'"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large orange" ng-click="addEvent()">
		<i class="large material-icons">add</i>
	</a>
</div>
