<style>
	.drop-box {
	    background: #F8F8F8;
	    border: 5px dashed #DDD;
	    width: 100%;
	    height: 100%;
	    padding: 20px;
	    text-align: center;
	    margin: 10px;
	    cursor: pointer;
	}
	.dragover {
	    border: 5px dashed #00bcd4;
	}
</style>
<form ng-submit="upload(result, images)">
	<div class="modal-header">
		<p style="font-size: 18px">Definisci risultato</p>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col s6">
				<p>Malcantone Basket</p>
			</div>
			<div class="col s6">
				<p>{{match.opponent}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="row valign-wrapper">
					<label class="active col s6">Punteggio:</label>
					<input type="number" id="our_score" min="0" value="0" ng-model="result.our_score" required>
				</div>
			</div>
			<div class="col s6">
				<div class="row valign-wrapper">
					<label class="active col s6">Punteggio:</label>
					<input type="number" id="their_score" min="0" value="0" ng-model="result.their_score" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="comment" class="materialize-textarea" ng-model="result.comment" maxlength="200"></textarea>
				<label for="comment" class="active">Commento</label>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="drop-box" ngf-drop ngf-select ng-model="images" ngf-drag-over-class="'dragover'" ngf-multiple="true"
				ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'">Fotografie</div>
			</div>
			<button class="waves-effect waves-light red btn" ng-click="images = null"
			ng-show="images != null">Rimuovi
			</button>
			<ul class="col s12">
				<li ng-repeat="i in images">{{i.name}}</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue green btn" type="submit">Salva</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>