<style>
	.victory{
		color: #4caf50;
		font-size: 28px;
		text-align: center;
	}
	.loss{
		color: #f44336;
		font-size: 28px;
		text-align: center;
	}
	.draw{
		color: #ff9800;
		font-size: 28px;
		text-align: center;
	}
</style>
<form>
	<div class="modal-header">
		<div class="row valign-wrapper">
			<div class="col s5 valign">
				<p style="font-size: 18px">Partita</p>
			</div>
			<div class="col s3 offset-s6 valign">
				<button ng-show="globals.currentUser.role == 'Amministratore' || globals.currentUser.role == 'Allenatore'" class="waves-effect waves-blue btn" type="button" ng-click="matchPDF()">
					<i class="material-icons">description</i>
				</button>
			</div>
			<div class="col s3 valign">
				<button ng-show="(globals.currentUser.role == 'Amministratore' || globals.currentUser.role == 'Allenatore') && checkObject(match_result) == true"
				class="waves-effect waves-blue light-green btn" type="button" ng-click="defineResult(match)">
					<img src="assets/img/icons/leaderboard_32.png" class="right">  
				</button>
				<button ng-show="(globals.currentUser.role == 'Amministratore' || globals.currentUser.role == 'Allenatore') && checkObject(match_result) == false" 
				class="waves-effect waves-blue red btn" type="button" ng-click="deleteResult(match)">
					<img src="assets/img/icons/leaderboard_32.png" class="right">  
				</button>
				
			</div>
		</div>

	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col s6">
				<p>Data:</p>
			</div>
			<div class="col s6">
				<p>{{match.startsAt | date:'dd-MM-yyyy'}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col s6 ">
				<p>Avversario:</p>
			</div>
			<div class="col s6">
				<p>{{match.opponent}}</p>
			</div>
		</div>
		<div class="row" ng-init="editSquad = false; editTrainers = false">
			<!-- PLAYERS -->
			<div class="input-field col s10" ng-hide="editSquad">
				<p>Giocatori Convocati:</p>
				<table>
					<tbody>
						<tr ng-repeat="p in convoked_players_view | filter: {convoked:true}">
							<td>{{p.user.first_name}} {{p.user.last_name}}</td>
						</tr>
					</tbody>
				</table>
   			</div>
   			<div class="input-field col s10" ng-show="editSquad">
   				<p>Modifica Convocati:</p>
				<table>
					<tbody>
						<tr ng-repeat="p in convoked_players_view track by $index">
							<td>{{p.user.first_name}} {{p.user.last_name}}</td>
							<td>
								<p>
									<input type="checkbox" class="filled-in" id="{{p.user.id}}" ng-model="convoked_players_view[$index].convoked"/>
									<label for="{{p.user.id}}">Convocato/a</label>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
   			</div>
			<div class="col s2" ng-show="globals.currentUser.role == 'Amministratore' || globals.currentUser.role == 'Allenatore'">
				<a class="waves-effect waves-blue yellow btn" ng-click="editSquad = !editSquad; editTrainers = !editTrainers">
					<i class="material-icons">mode_edit</i>
				</a>
			</div>
			<!-- TRAINERS -->
			<div class="row">
				<div class="col s10" ng-hide="editTrainers">
					<p>Allenatori Convocati:</p>
					<table>
						<tbody>
							<tr ng-repeat="t in convoked_trainers_view | filter: {convoked:true}">
								<td>{{t.user.first_name}} {{t.user.last_name}}</td>
							</tr>
						</tbody>
					</table>
	   			</div>
	   			<div class="input-field col s10" ng-show="editTrainers">
	   				<p>Modifica Convocati:</p>
					<table>
						<tbody>
							<tr ng-repeat="t in convoked_trainers_view track by $index">
								<td>{{t.user.first_name}} {{t.user.last_name}}</td>
								<td>
									<p>
										<input type="checkbox" class="filled-in" id="{{t.user.id}}" ng-model="convoked_trainers_view[$index].convoked"/>
										<label for="{{t.user.id}}">Convocato/a</label>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
					<div ng-form="place_time_form_trainer" class="row valign-wrapper">
						<div class="input-field col s4 valign">
						<input id="time" type="time" ng-model="time" required>
						<label for="time" class="active">Ora d'incontro*</label>
					</div>
					<div class="input-field col s4 valign">
						<input id="place" type="text" ng-model="place" required>
						<label for="place" class="active">Luogo d'incontro*</label>
					</div>
					<div class="col s4 valign">
						<button type="button" ng-disabled="!place_time_form_trainer.$valid" ng-click="chooseConvoked(convoked_players_view, convoked_trainers_view, time, place)" class="btn">Salva</button>
					</div>
					</div>
	   			</div>
	   		</div>
			<div class="row" ng-hide="checkObject(match_result)">
				<div class="row">
					<div class="col s12" ng-if="match_result[0].our_score > match_result[0].opponent_score">
						<p class="victory">Vittoria</p>
					</div>
					<div class="col s12" ng-if="match_result[0].our_score < match_result[0].opponent_score">
						<p class="loss">Sconfitta</p>
					</div>
					<div class="col s12" ng-if="match_result[0].our_score == match_result[0].opponent_score">
						<p class="draw">Pareggio</p>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<p style="text-align: center">Malcantone Basket: {{match_result[0].our_score}}</p>
					</div>
					<div class="col s6">
						<p style="text-align: center">{{match.opponent}}: {{match_result[0].opponent_score}}</p>
					</div>
				</div>
				<div class="row">
					<p style="text-align: center">Commento:</p>
					<div class="col s12">
						<p style="text-align: center">{{match_result[0].comment}}</p>
					</div>
				</div>
				<div class="row">
					<p style="text-align: center">Immagini:</p>
					<ng-gallery images="match_images" style="padding-left: 40%"></ng-gallery>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue orange btn" type="button" ng-click="sendEmail(convoked_players_view, match)">
			<i class="material-icons right">email</i>Avvisa
		</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Chiudi</button>
	</div>
</form>