<form ng-submit="generate(min_shirt_numb)">
	<div class="modal-header">
		<p style="font-size: 18px">Genera PDF partita</p>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="input-field col s12" ng-init="min_shirt_numb = 1">
				<input type="number" id="min_shirt_numb" ng-model="min_shirt_numb" required>
				<label for="min_shirt_numb" class="active">Numero di maglia più basso</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue btn" type="submit">Genera</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>