<form ng-submit="upload(selected_opponent, selected_category, new_event)">
	<div class="modal-header">
		<p style="font-size: 18px">Aggiungi Evento</p>
	</div>
	<div class="modal-body">
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<p>Partita contro:</p>
			</div>
			<div class="input-field col s6 valign">
				<select class="browser-default" ng-model="selected_opponent" ng-options="o.opponent_name for o in opponents" required></select>
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<p>Categoria:</p>
			</div>
			<div class="input-field col s6 valign">
				<select class="browser-default" ng-model="selected_category" ng-options="c.category for c in categories" required></select>
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<p>Data:</p>
			</div>
			<div class="input-field col s6 valign">
				<input type="date" ng-model="new_event.date" required>
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<p>Ora:</p>
			</div>
			<div class="input-field col s6 valign">
				<input type="time" ng-model="new_event.time" required>
			</div>
		</div>
		<div class="row valign-wrapper">
			<div class="col s6 valign">
				<p>Posto:</p>
			</div>
			<div class="input-field col s6 valign">
				<input type="text" ng-model="new_event.place" required>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="who_does_what" class="materialize-textarea" ng-model="new_event.who_does_what" maxlength="200"></textarea>
         		<label for="who_does_what">Chi fa che cosa?</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue green btn" type="submit">Aggiungi</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>