<form ng-submit="send(email)">
	<div class="modal-header">
		<p style="font-size: 18px">Invia Email</p>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="subject" ng-model="email.subject" required>
				<label for="subject" class="active">Oggetto</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="message" class="materialize-textarea" ng-model="email.message" maxlength="200"></textarea>
				<label for="message" class="active">Messaggio</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue green btn" type="submit">Invia</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>