<div class="col s12 z-depth-3" style="margin-top:20px; padding: 2em 2em;">
	<div class="row">
		<div class="col s12 valign-wrapper">
			<p class="col s6 valign">Cambia password amministratore</p>
			<button type="button" class="waves-effect waves-blue btn col s6 valign" ng-click="changeAdminPass(globals.currentUser.username)">Cambia</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col s12">
			<h3>Allenatori</h3>
		</div>
	</div>
	<div class="row">
		<table>
			<thead>
				<tr>
					<th>Nome Cognome</th>
					<th>Nome Utente</th>
					<th>Setta</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="trainer in trainers">
					<td>{{trainer.first_name}} {{trainer.last_name}}</td>
					<td>{{trainer.username}}</td>
					<td>
						<button type="button" class="waves-effect waves-blue btn" ng-click="setLoginData(trainer)">
							<i class="material-icons right">settings_applications</i>Setta username e password
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>