<form ng-submit="changePass(old_pass, new_pass, confirm_new_pass)">
	<div class="modal-header">
		<p style="font-size: 18px">Cambia password Amministratore</p>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="input-field col s12">
				<input type="password" id="old_pass" ng-model="old_pass" minlength="8" required>
				<label for="old_pass">Vecchia password</label>
			</div>
			<div class="input-field col s12">
				<input type="password" id="new_pass" ng-model="new_pass" minlength="8" required>
				<label for="new_pass">Nuova Password</label>
			</div>
			<div class="input-field col s12">
				<input type="password" id="confirm_new_pass" ng-model="confirm_new_pass" minlength="8" required>
				<label for="confirm_new_pass">Conferma Nuova Password</label>
			</div>
			<div class="col s12" ng-show="passwordMatchError(new_pass, confirm_new_pass)">
				<p class="red-text">Le password devono essere uguali!</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue btn" ng-disabled="passwordMatchError(new_pass, confirm_new_pass)"
		type="submit">
			Cambia Password
		</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>