<form ng-submit="setData(trainer.username, trainer.password, trainer.id)">
	<div class="modal-header">
		<p style="font-size: 18px">Gestione {{trainer.first_name}} {{trainer.last_name}}</p>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="username" ng-model="trainer.username" maxlength="45" required>
				<label for="username">Nome Utente</label>
			</div>
			<div class="input-field col s12">
				<input type="password" id="password" ng-model="trainer.password" minlength="8" required>
				<label for="password">Password</label>
			</div>
			<div class="input-field col s12">
				<input type="password" id="password_confirm" ng-model="trainer.password_confirm" minlength="8" required>
				<label for="password_confirm">Conferma Password</label>
			</div>
			<div class="col s12" ng-show="passwordMatchError(trainer.password, trainer.password_confirm)">
				<p class="red-text">Le password devono essere uguali!</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue btn" ng-disabled="passwordMatchError(trainer.password, trainer.password_confirm)"
		type="submit">
			Setta Account
		</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>