<style>
.cropArea {
	overflow: hidden;
	width:500px;
	height:350px;
}
</style>
<form name="myForm" ng-submit="upload(member_data, croppedImage, member_data.picFile.name, selected_role.role, selected_category.category)">
	<div class="modal-header" ng-init="show_player = false">
		<p style="font-size: 18px">Aggiungi membro</p>
	</div>
	<div class="modal-body">
		<p>Il bottone "Aggiungi" non sarà cliccabile finché tutti i campi con * non saranno compilati!</p>
		<div class="row">
			<div class="input-field col s6">
				Ruolo:*<select class="browser-default" ng-model="selected_role" ng-options="r.role for r in roles" required></select>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4">
				<input type="text" id="first_name" ng-model="member_data.first_name" required>
				<label for="first_name">Nome*</label>
			</div>
			<div class="input-field col s4">
				<input type="text" id="last_name" ng-model="member_data.last_name" required>
				<label for="last_name">Cognome*</label>
			</div>
			<div class="input-field col s4">
				<input type="number" id="birth_year" ng-model="member_data.birth_year" required>
				<label for="birth_year">Anno di nascita*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8">
				<input type="text" id="address" ng-model="member_data.address" required>
				<label for="address">Indirizzo completo*</label>
			</div>
			<div class="input-field col s4" ng-show="selected_role.role == 'Giocatore' || selected_role.role == 'Allenatore'">
				<div ng-if="selected_role.role == 'Giocatore' || selected_role.role == 'Allenatore'">{{ membership_nr_required(true) }}</div>
				<div ng-if="selected_role.role != 'Giocatore' && selected_role.role != 'Allenatore'">{{ membership_nr_required(false) }}</div>
				<input type="number" id="membership_nr" ng-model="member_data.membership_nr" ng-required="required_msn">
				<label for="membership_nr">Numero di tesseramento*</label>
			</div>
		</div>
		<div class="row" ng-show="selected_role.role == 'Giocatore'">
			<div ng-if="selected_role.role == 'Giocatore'">{{ player_selected(true) }}</div>
			<div ng-if="selected_role.role != 'Giocatore'">{{ player_selected(false) }}</div>
			<button ngf-select class="waves-effect waves-light btn col s12" name="file" ng-model="member_data.picFile" accept="image/*" ng-required="show_player">
				<i class="material-icons right">picture_in_picture</i>Seleziona immagine*
			</button>
			<div ng-show="member_data.picFile != null" ngf-drop ng-model="member_data.picFile">
				<div class="cropArea col s6" ngf-drop ng-model="member_data.picFile" ngf-pattern="image/*">
					<img-crop area-type="square" image="member_data.picFile  | ngfDataUrl" result-image="croppedImage" ng-init="croppedImage=''">
					</img-crop>
				</div>
				<div>
					<img class="col s6" ng-src="{{croppedImage}}" />
				</div>
			</div>
			<div class="col s12">
				<p>Genitore</p>
			</div>
			<div class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<input type="text" id="par_first_name" ng-model="member_data.par_first_name" ng-required="show_player">
						<label for="par_first_name">Nome*</label>
					</div>
					<div class="input-field col s4">
						<input type="text" id="par_last_name" ng-model="member_data.par_last_name" ng-required="show_player">
						<label for="par_last_name">Cognome*</label>
					</div>
					<div class="input-field col s4">
						<input type="tel" id="par_home_phone" ng-model="member_data.par_home_num">
						<label for="par_home_phone">Telefono di casa</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="tel" id="par_mobile_phone" ng-model="member_data.par_mob_num" ng-required="show_player">
						<label for="par_mobile_phone">Cellulare*</label>
					</div>
					<div class="input-field col s4">
						<input type="email" id="par_email" ng-model="member_data.par_email" ng-required="show_player">
						<label for="par_email">Email*</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue btn-flat" type="submit" ng-disabled="!myForm.$valid">Aggiungi</button>
		<button class="waves-effect waves-blue btn-flat" type="button" ng-click="cancel()">Cancel</button>
	</div>
</form>