<style>
.cropArea {
	overflow: hidden;
	width:500px;
	height:350px;
}
</style>
<form ng-submit="upload(member, croppedImage)">
	<div class="modal-header">
		<p style="font-size: 18px">Modifica {{member.first_name}} {{member.last_name}}</p>
	</div>
	<div class="modal-body">
		<div class="row valign-wrapper" ng-show="member.role == 'Giocatore'">
			<div class="col s4">
				<a><img src="{{member.pic_path}}"></a>
			</div>
			<div class="col s8 ">
				<p style="font-size: 32px; margin:0;" class="valign">{{member.first_name}} {{member.last_name}}</p>
			</div>
		</div>
		<div class="row" ng-show="member.role == 'Giocatore'">
			<button ngf-select class="waves-effect waves-light btn col s4" ng-model="member.picFile" accept="image/*">
				<i class="material-icons right">picture_in_picture</i>Cambia immagine
			</button>
			<button class="waves-effect waves-light red btn col s4 offset-s4" ng-click="member.picFile = null" ng-show="member.picFile != null">
				Rimuovi
			</button>
		</div>
		<div class="row">
			<div ng-show="member.picFile != null" ngf-drop ng-model="member.picFile">
				<div class="cropArea col s6" ngf-drop ng-model="member.picFile" ngf-pattern="image/*">
					<img-crop area-type="square" image="member.picFile  | ngfDataUrl" result-image="croppedImage" ng-init="croppedImage=''">
					</img-crop>
				</div>
				<div>
					<img class="col s6" ng-src="{{croppedImage}}" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4">
				<input type="text" id="first_name" ng-model="member.first_name" required>
				<label for="first_name" class="active">Nome*</label>
			</div>
			<div class="input-field col s4">
				<input type="text" id="last_name" ng-model="member.last_name" required>
				<label for="last_name" class="active">Cognome*</label>
			</div>
			<div class="input-field col s4">
				<input type="number" id="birth_year" ng-model="member.birth_year" required>
				<label for="birth_year" class="active">Anno di nascita*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8">
				<input type="text" id="address" ng-model="member.address" required>
				<label for="address" class="active">Indirizzo completo*</label>
			</div>
			<div class="input-field col s4" ng-show="member.role == 'Giocatore' || member.role == 'Allenatore'">
				<input type="number" id="membership_nr" ng-model="member.membership_num" ng-required="required_msn">
				<label for="membership_nr" class="active">Numero di tesseramento*</label>
			</div>
		</div>
		<div class="row" ng-show="member.role == 'Giocatore'">
			<div class="col s12">
				<p>Genitore</p>
			</div>
			<div class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<input type="text" id="par_first_name" ng-model="member.par_fn" ng-required="show_player">
						<label for="par_first_name" class="active">Nome*</label>
					</div>
					<div class="input-field col s4">
						<input type="text" id="par_last_name" ng-model="member.par_ln" ng-required="show_player">
						<label for="par_last_name" class="active">Cognome*</label>
					</div>
					<div class="input-field col s4">
						<input type="tel" id="par_home_phone" ng-model="member.par_home_num">
						<label for="par_home_phone" class="active">Telefono di casa</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input type="tel" id="par_mobile_phone" ng-model="member.par_mob_num" ng-required="show_player">
						<label for="par_mobile_phone" class="active">Cellulare*</label>
					</div>
					<div class="input-field col s4">
						<input type="email" id="par_email" ng-model="member.par_email" ng-required="show_player">
						<label for="par_email" class="active">Email*</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue green btn" type="submit">Salva</button>
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</form>