<script>
	$(document).ready(function() {
		$('select').material_select();
		$('.collapsible').collapsible({
			accordion : false
		});
		$('.tooltipped').tooltip({delay: 50});
	});
</script>
<div ui-view="loginModal"></div>
<div class="col s12 z-depth-2" style="margin-top:20px; padding: 2em 2em;">
	<div class="col s12">
		<div class="row">
			<div class="col s6">
				<button type="button" class="waves-effect waves-blue orange btn" ng-click="PDFMembers()">
					<i class="material-icons right">description</i>PDF Lista Membri
				</button>
			</div>
			<div class="col s6">
				<button type="button" class="waves-effect waves-blue orange btn" ng-click="paymentsManagement(members)"><i class="material-icons right">shopping_cart</i>Gestione pagamenti</button>
			</div>
		</div>
		<!-- Filters -->
		<div class="row">
			<div class="input-field col s6">
				Ruolo:<select class="browser-default" ng-model="selected_role" ng-options="r.role for r in roles"></select>
			</div>
			<div class="input-field col s6" ng-show="selected_role.role == 'Giocatore'">
				Categoria:
				<select class="browser-default" data-ng-model="selected_category" ng-options="c.category for c in categories">	
				</select>
			</div>
		</div>

		<!-- Data -->
		<div class="row">
			<div class="col s12">
				<ul class="collapsible popout" data-collapsible="accordion">
					<li ng-repeat="member in members | filter : {role: selected_role.role}: true | categoriesFilter:selected_role:selected_category">
						<div class="collapsible-header">
							<i class="material-icons">person_pin</i>{{member.first_name}} {{member.last_name}}
						</div>
						<div class="collapsible-body">
							<div class="row" style="margin-top:15px">
								<div class="col s6">
									<div class="center-align">
										<button class="center-align waves-effect waves-light btn green tooltipped" type="button" ng-click="editMember(member)">
											<i class="material-icons right">mode_edit</i>Modifica
										</button>
									</div>
								</div>
								<div class="col s6">
									<div class="center-align">
										<button class="waves-effect waves-effect waves-light btn red" type="button" ng-click="deleteMember(member.id)">
											<i class="material-icons right">delete</i>Elimina
										</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
			<a class="btn-floating btn-large orange" ng-click="addMember()">
				<i class="large material-icons">add</i>
			</a>
		</div>
	</div>
</div>
