<style>
.cropArea {
	overflow: hidden;
	width:500px;
	height:350px;
}
</style>
<div>
	<div class="modal-header">
		<p style="font-size: 18px">Gestione pagamenti</p>
	</div>
	<div class="modal-body">
		<table>
			<thead>
				<tr>
					<th>Giocatore</th>
					<th>Ultima data di pagamento</th>
					<th>Pagato</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="member in (members|orderBy:'last_payed'|emptyToStart:'last_payed')">
					<td>{{member.first_name}} {{member.last_name}}</td>
					<td>{{member.last_payed | date:'dd-MM-yyyy'}}</td>
					<td>
						<button type="button" ng-disabled="checkLastPayment(member)" class="waves-effect waves-blue green btn" ng-click="payed(member)">
							<i class="material-icons right">thumb_up</i>Pagato
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="waves-effect waves-blue red btn" type="button" ng-click="cancel()">Annulla</button>
	</div>
</div>