$default_padding: 0
$default_margin: 0
$primary_color: #00BCD4
$dark_primary_color: #0097A7
$accent_color: #FFC107

//Gray color scale
$color-grey-100: #F5F5F5
$color-grey-200: #EEEEEE
$color-grey-300: #E0E0E0
$color-grey-400: #BDBDBD
$color-grey-500: #9E9E9E
$color-grey-600: #757575
$color-grey-700: #616161
$color-grey-800: #424242
$color-grey-900: #212121

//Roboto font
@import url(https://fonts.googleapis.com/css?family=Roboto:700,500,400);
//Exo font

body
	margin: $default_margin
	padding: $default_padding
	font-family: 'Roboto'

p
	color: $color-grey-500

h3
	color: $color-grey-500

.align-options
	display: flex
	align-items: center

@import 'homepage/homepage'