<script>
	$(document).ready(function(){
		$('.parallax').parallax();
	});
</script>
<style>
	.parallax-container {
		height: 350px;
	}
</style>
<div class="col s12 z-depth-3" style="margin-top:20px; padding: 2em 2em;">
	<div >
		<div class="parallax-container">
			<div class="parallax"><img src="assets/img/logos/team_logo.png"></div>
		</div>
		<div class="section">	
			<div class="row container">
				<p style="text-align: center" class="orange-text">
					Sii forte nel corpo, limpido nei pensieri, maestoso negli ideali
				</p>
				<p style="text-align: center;" class="gray-text">
					<i>(James Naismith 1891, inventore della pallacanestro)</i>
				</p>
				<p style="text-align: center">
					Il nostro scopo è quello di far conoscere ed apprezzare il gioco del minibasket.
					Minibasket significa per prima cosa divertirsi giocando e crescendo, nel fisico e nello spirito.
					<br><br>
					Il minibasket è aperto a tutti i bambini e bambine dai 6 ai 12 anni.
					Le regole si imparano giocando e sono quelle del basket ma semplificate.
					Prima di saper controllare il pallone bisogna imparare a vivere in gruppo e a rispettare le regole.
					Le espressioni ed i comportamenti scorretti verso i compagni e gli avversari non sono ammessi.
					<br><br>
					Tutte le decisioni dell'arbitro e dell'Istruttore devono essere sempre accettate come definitive.
					Si gioca per vincere ma bisogna saper perdere, accettando il risultato sportivamente.
					Lo sport deve essere vissuto come elemento di crescita in un ambiente sano e pulito in tutti i sensi.
					<br><br>
					Benvenuti quindi a tutti coloro che vogliono provare rispettando questi ideali!
				</p>
				</div>
			</div>
		</div>
	</div>
</div>